@import url("../icons.css");
@import url("http://fonts.googleapis.com/css?family=Nunito:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
/* line 17, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  color: #222;
  font-size: 16px;
  font-family: 'Nunito',sans-serif;
  font-weight: 100;
  line-height: 1.6em;
  background: url("../img/pattern-bg.png");
}

/* line 16, ../sass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 20, ../sass/screen.scss */
h1 {
  font-size: 22px;
  margin: 10px 0 12px 0;
  font-weight: 300;
  line-height: 1.3em;
  color: #a98168;
}

/* line 28, ../sass/screen.scss */
.sec_header {
  margin-top: 0;
}

/* line 32, ../sass/screen.scss */
h2 {
  font-size: 18px;
  margin: 20px 0 10px 0;
  color: #a98168;
}

/* line 38, ../sass/screen.scss */
h3 {
  font-size: 16px;
}

/* line 42, ../sass/screen.scss */
a {
  color: #1683b8;
  text-decoration: none;
}
/* line 45, ../sass/screen.scss */
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 51, ../sass/screen.scss */
.dev {
  position: absolute;
  width: 220px;
  height: 220px;
  z-index: 9999;
  background: url("../img/development.png");
  background-size: cover;
}

/* line 60, ../sass/screen.scss */
header {
  width: 100%;
  background: url("../img/pattern.png");
  padding: 8px 0 2px 0;
}
/* line 64, ../sass/screen.scss */
header .header {
  max-width: 960px;
  margin: auto;
}
/* line 67, ../sass/screen.scss */
header .header .logo {
  width: 172px;
  height: 41px;
  background: url("../img/logo.png");
  background-size: cover;
  display: inline-block;
}
/* line 73, ../sass/screen.scss */
header .header .logo img {
  max-width: 300px;
}
/* line 77, ../sass/screen.scss */
header .header nav {
  float: right;
  margin-top: 10px;
}
/* line 80, ../sass/screen.scss */
header .header nav ul {
  z-index: 9999;
}
/* line 83, ../sass/screen.scss */
header .header nav ul li {
  float: left;
  border-left: 1px solid #a88067;
}
/* line 86, ../sass/screen.scss */
header .header nav ul li:first-child {
  border: 0;
}
/* line 89, ../sass/screen.scss */
header .header nav ul li:hover ul {
  display: block;
}
/* line 92, ../sass/screen.scss */
header .header nav ul li a {
  color: #222;
  font-size: 17px;
  padding: 0 20px 14px 20px;
}
/* line 96, ../sass/screen.scss */
header .header nav ul li a:hover {
  border-bottom: 3px solid #fffbf8;
  color: #fffbf8;
  text-shadow: 1px 1px #888;
  text-decoration: none;
}
/* line 103, ../sass/screen.scss */
header .header nav ul li ul {
  position: absolute;
  margin-top: 15px;
  display: none;
}
/* line 107, ../sass/screen.scss */
header .header nav ul li ul li {
  clear: both;
  display: block;
  border: 0;
  width: 200px;
  background: url("../img/pattern.png");
  padding: 5px 0 10px 0;
}
/* line 114, ../sass/screen.scss */
header .header nav ul li ul li a {
  padding: 0 14px 9px 20px;
}
/* line 116, ../sass/screen.scss */
header .header nav ul li ul li a:hover {
  border-left: 3px solid #fffbf8;
  border-bottom: 0;
}

@media screen and (max-width: 825px) {
  /* line 129, ../sass/screen.scss */
  header .header nav {
    display: none;
  }
}
/* line 134, ../sass/screen.scss */
.wrapper {
  max-width: 960px;
  margin: auto;
  padding: 5px 20px;
}

/* line 140, ../sass/screen.scss */
#content-wrapper {
  max-width: 610px;
}

@media screen and (max-width: 960px) {
  /* line 145, ../sass/screen.scss */
  #content-wrapper {
    margin: 0 auto;
  }
}
/* line 150, ../sass/screen.scss */
.chatBar {
  width: 100%;
  height: 40px;
  padding-top: 15px;
  background: #39a652;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

/* line 160, ../sass/screen.scss */
#chatWrapper {
  margin-left: 200px;
}
/* line 162, ../sass/screen.scss */
#chatWrapper #chatTimer {
  margin-right: 20px;
}

/* line 167, ../sass/screen.scss */
.coverPicture {
  position: relative;
}
/* line 169, ../sass/screen.scss */
.coverPicture img {
  width: 100%;
}
/* line 172, ../sass/screen.scss */
.coverPicture .cover-info {
  position: absolute;
  top: 12%;
  left: 6%;
  width: 500px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #bbb;
}
/* line 180, ../sass/screen.scss */
.coverPicture .cover-info h1 {
  font-size: 40px;
  color: #ddd;
}

@media screen and (max-width: 1015px) {
  /* line 188, ../sass/screen.scss */
  .card-content {
    width: 690px;
    margin: auto;
  }
}
@media screen and (max-width: 680px) {
  /* line 195, ../sass/screen.scss */
  .card-content {
    width: 390px;
  }
}
/* line 200, ../sass/screen.scss */
.kategorier {
  padding-top: 40px;
}
/* line 202, ../sass/screen.scss */
.kategorier h1 {
  text-align: center;
  margin-bottom: 20px;
}
/* line 206, ../sass/screen.scss */
.kategorier form {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  display: table;
}
/* line 211, ../sass/screen.scss */
.kategorier form .check {
  float: left;
  margin: 0 30px;
}
/* line 216, ../sass/screen.scss */
.kategorier a {
  color: #222;
}

/* line 221, ../sass/screen.scss */
table {
  width: 100%;
}

/* line 225, ../sass/screen.scss */
.card-wrapper {
  display: inline-block;
  margin: 15px 10px;
}
/* line 228, ../sass/screen.scss */
.card-wrapper .card {
  position: relative;
  width: 276px;
  height: 153px;
  padding: 10px;
  background: #fff;
  box-shadow: 2px 2px #ddd;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.4em;
  overflow: hidden;
}
/* line 239, ../sass/screen.scss */
.card-wrapper .card .hover-box {
  position: absolute;
  width: 310px;
  height: 30px;
  padding-top: 10px;
  background: #f1975c;
  color: #fff;
  text-align: center;
  left: -10px;
  bottom: -40px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 254, ../sass/screen.scss */
.card-wrapper .card .hover-box p:hover {
  text-decoration: none;
}
/* line 258, ../sass/screen.scss */
.card-wrapper .card .date {
  float: right;
}
/* line 261, ../sass/screen.scss */
.card-wrapper .card h2 {
  margin-top: 0;
}
/* line 264, ../sass/screen.scss */
.card-wrapper .card p {
  margin-bottom: 1em;
}
/* line 268, ../sass/screen.scss */
.card-wrapper:hover .hover-box {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 274, ../sass/screen.scss */
.card-wrapper .icon {
  position: relative;
  top: -185px;
  left: 115px;
  background-size: cover;
}

/* line 282, ../sass/screen.scss */
.breadcrumb {
  font-size: 14px;
  margin-bottom: 35px;
}

/* line 287, ../sass/screen.scss */
.sidebar {
  width: 240px;
  height: 460px;
  padding: 0 20px;
  float: right;
  margin-top: 40px;
  background: #ededed;
}

@media screen and (max-width: 960px) {
  /* line 297, ../sass/screen.scss */
  .sidebar {
    display: none;
  }
}
/* line 302, ../sass/screen.scss */
.overview-summary {
  margin-top: 35px;
}

/* line 306, ../sass/screen.scss */
.topic-summary {
  padding-bottom: 20px;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
}

/* line 312, ../sass/screen.scss */
#icon {
  width: 65px;
  height: 65px;
  background: url("../img/icon.png");
  background-size: 65px 65px;
  float: left;
  margin: -18px 10px 0 0;
}

/* line 321, ../sass/screen.scss */
.light-text {
  color: #888;
}

/* line 325, ../sass/screen.scss */
.inline {
  margin-right: 10px;
}

/* line 329, ../sass/screen.scss */
.btn {
  padding: 4px 8px;
  color: #fff;
  background: #f1975c !important;
  border-radius: 3px;
  font-size: 16px;
}
/* line 335, ../sass/screen.scss */
.btn:hover {
  background: #ee833d !important;
  text-decoration: none;
}

/* line 341, ../sass/screen.scss */
time {
  float: right;
  color: #888;
}

/* line 346, ../sass/screen.scss */
article p {
  margin-bottom: 1em;
}

/* line 350, ../sass/screen.scss */
#interaction {
  margin: 20px 0 80px 0;
}
/* line 352, ../sass/screen.scss */
#interaction span {
  margin: 5px 10px 0 0;
}

/* line 357, ../sass/screen.scss */
.left {
  float: left;
}

/* line 361, ../sass/screen.scss */
.right {
  float: right;
}

/* line 365, ../sass/screen.scss */
.kommentar {
  padding: 8px 0;
  margin: 8px 0;
}

/* line 370, ../sass/screen.scss */
.inline-komm {
  margin-left: 10px;
}
/* line 372, ../sass/screen.scss */
.inline-komm .kommentar {
  border-left: 1px solid #cdcdcd;
  padding: 8px 0 8px 10px;
}

/* line 378, ../sass/screen.scss */
.komm-komm {
  margin-top: 5px;
}

/* line 382, ../sass/screen.scss */
.komm-arrow {
  display: inline-block;
  margin-left: 5px;
}
/* line 385, ../sass/screen.scss */
.komm-arrow:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: solid #888;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 400, ../sass/screen.scss */
#galleri-img {
  text-align: center;
}

/* line 404, ../sass/screen.scss */
img {
  margin: auto;
}

/* line 409, ../sass/screen.scss */
#komm-form form * {
  margin-bottom: 10px;
}
/* line 412, ../sass/screen.scss */
#komm-form form input {
  width: 120px;
  height: 30px;
  background: #ededed;
  padding-left: 3px;
  border: none;
}
/* line 419, ../sass/screen.scss */
#komm-form form textarea {
  width: 100%;
  max-width: 350px;
  height: 120px;
  resize: none;
  background: #ededed;
  display: block;
  border: none;
}

/* line 431, ../sass/screen.scss */
.overview a {
  color: #222;
}
/* line 433, ../sass/screen.scss */
.overview a:hover {
  text-decoration: none;
}
/* line 437, ../sass/screen.scss */
.overview article.post {
  padding: 5px 10px;
  margin-top: 30px;
  background: #fff;
  box-shadow: 2px 2px #ddd;
}
/* line 442, ../sass/screen.scss */
.overview article.post:hover {
  background: #ebebeb;
}
/* line 444, ../sass/screen.scss */
.overview article.post:hover h2 {
  text-decoration: underline;
}
/* line 448, ../sass/screen.scss */
.overview article.post a:hover {
  text-decoration: none;
}
/* line 451, ../sass/screen.scss */
.overview article.post h2 {
  margin: 0;
}
/* line 454, ../sass/screen.scss */
.overview article.post .author-info {
  color: #888;
}
/* line 457, ../sass/screen.scss */
.overview article.post .arrow {
  width: 10px;
  height: 10px;
  float: left;
  margin: 18px 0 0 20px;
  color: #000;
  font-weight: bold;
  background: url("../img/arrow.png") no-repeat;
  background-size: contain;
}
/* line 467, ../sass/screen.scss */
.overview article.post .rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 474, ../sass/screen.scss */
.overview article.post .post-komm {
  font-size: 14px;
  color: #888;
  float: right;
  margin: -25px 35% 0 0;
  padding: 3px 12px;
  background: url("../img/speech2.png");
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-position-x: 1px;
}
/* line 485, ../sass/screen.scss */
.overview article.post .post-date {
  float: right;
  color: #888;
  margin: -22px -38% 0 0;
}
/* line 489, ../sass/screen.scss */
.overview article.post .post-date p, .overview article.post .post-date a {
  margin-bottom: 5px;
}

/* line 496, ../sass/screen.scss */
.topics .card-wrapper {
  margin: 0;
}
/* line 498, ../sass/screen.scss */
.topics .card-wrapper .card {
  width: 256px;
  height: 160px;
  margin: 10px 20px;
  font-size: 16px;
}
/* line 503, ../sass/screen.scss */
.topics .card-wrapper .card p {
  height: 95px;
}
/* line 507, ../sass/screen.scss */
.topics .card-wrapper .topic {
  width: 295px;
  display: inline-block;
  margin-bottom: 60px;
  vertical-align: top;
}
/* line 512, ../sass/screen.scss */
.topics .card-wrapper .topic:nth-child(even) {
  margin-left: 20px;
}
/* line 515, ../sass/screen.scss */
.topics .card-wrapper .topic p {
  margin-bottom: 1em;
}

/* line 521, ../sass/screen.scss */
footer {
  height: 300px;
  margin-top: 60px;
  background: url("../img/footer_images.png") no-repeat;
  position: relative;
  bottom: -20px;
  color: #fff;
}
/* line 528, ../sass/screen.scss */
footer h1 {
  color: #fff;
  margin-bottom: 20px;
}
/* line 532, ../sass/screen.scss */
footer p {
  margin-bottom: 1em;
  text-align: justify;
}
/* line 536, ../sass/screen.scss */
footer .footer {
  position: absolute;
  bottom: -211px;
  width: 100%;
  padding-top: 20px;
  background: #2b2526;
}
/* line 542, ../sass/screen.scss */
footer .footer .footer-top {
  width: 910px;
  margin: 10px auto;
}
/* line 545, ../sass/screen.scss */
footer .footer .footer-top .footer-column {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
/* line 549, ../sass/screen.scss */
footer .footer .footer-top .footer-column:first-child {
  margin: 0;
}
/* line 553, ../sass/screen.scss */
footer .footer .footer-top .footer-one {
  width: 560px;
}
/* line 555, ../sass/screen.scss */
footer .footer .footer-top .footer-one .footer-icons img {
  width: 46px;
  height: 46px;
  border-radius: 46px;
  margin-right: 12px;
}
/* line 561, ../sass/screen.scss */
footer .footer .footer-top .footer-one .copyright {
  margin-top: 50px;
}
/* line 565, ../sass/screen.scss */
footer .footer .footer-top .social-icons {
  margin-top: 10px;
}
/* line 567, ../sass/screen.scss */
footer .footer .footer-top .social-icons .facebook {
  width: 46px;
  height: 46px;
  display: inline-block;
  background: url("../img/facebook.png");
}
/* line 572, ../sass/screen.scss */
footer .footer .footer-top .social-icons .facebook:hover {
  background-position-y: 46px;
}
/* line 576, ../sass/screen.scss */
footer .footer .footer-top .social-icons .instagram {
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-left: 10px;
  background: url("../img/instagram.png");
}
/* line 582, ../sass/screen.scss */
footer .footer .footer-top .social-icons .instagram:hover {
  background-position-y: 46px;
}
