section#interaction
		a.btn.left(href="#komm-form") + Tilføj kommentar
		a.btn.right(href="") Like
		span.light-text.right 4 synes godt om

section#kommentarer
	.kommentar
		span.light-text Hans den glade 
		span.right.light-text 22. dec 2013
		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
			|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
			|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
			|vehicula tortor ac, porta ipsum. 
			br
			a(href="") Tilføj kommentar
			span.light-text  - 
			a(href="") Cyberlike
			span.light-text  - 2 synes godt om
			p.komm-komm
				a.komm-arrow
				

		.inline-komm			
			.kommentar
				span.light-text Hans den glade 
				span.right.light-text 22. dec 2013
				p Lorem ipsum dolor sit amet.
					br
					a(href="") Tilføj kommentar
					span.light-text  - 
					a(href="") Cyberlike
					span.light-text  - 2 synes godt om
			.kommentar
				span.light-text Hans den glade 
				span.right.light-text 22. dec 2013
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus.
					br
					a(href="") Tilføj kommentar
					span.light-text  - 
					a(href="") Cyberlike
					span.light-text  - 2 synes godt om
					p.komm-komm
						a.komm-arrow
						
				.inline-komm			
					.kommentar
						span.light-text Hans den glade 
						span.right.light-text 22. dec 2013
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus.
							br
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
							p.komm-komm
								a.komm-arrow
								
						.inline-komm			
							.kommentar
								span.light-text Hans den glade 
								span.right.light-text 22. dec 2013
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus.
									br
									a(href="") Tilføj kommentar
									span.light-text  - 
									a(href="") Cyberlike
									span.light-text  - 2 synes godt om
			.kommentar
				span.light-text Hans den glade 
				span.right.light-text 22. dec 2013
				p Lorem ipsum dolor sit amet.
					br
					a(href="") Tilføj kommentar
					span.light-text  - 
					a(href="") Cyberlike
					span.light-text  - 2 synes godt om
	.kommentar
		span.light-text Hans den glade 
		span.right.light-text 22. dec 2013
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus.
			br
			a(href="") Tilføj kommentar
			span.light-text  - 
			a(href="") Cyberlike
			span.light-text  - 2 synes godt om
	.kommentar
		span.light-text Hans den glade 
		span.right.light-text 22. dec 2013
		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
			|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
			|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
			|vehicula tortor ac, porta ipsum. 
			br
			a(href="") Tilføj kommentar
			span.light-text  - 
			a(href="") Cyberlike
			span.light-text  - 2 synes godt om
			p.komm-komm
				a.komm-arrow
				

		.inline-komm			
			.kommentar
				span.light-text Hans den glade 
				span.right.light-text 22. dec 2013
				p Lorem ipsum dolor sit amet.
					br
					a(href="") Tilføj kommentar
					span.light-text  - 
					a(href="") Cyberlike
					span.light-text  - 2 synes godt om
			.kommentar
				span.light-text Hans den glade 
				span.right.light-text 22. dec 2013
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus.
					br
					a(href="") Tilføj kommentar
					span.light-text  - 
					a(href="") Cyberlike
					span.light-text  - 2 synes godt om
					p.komm-komm
						a.komm-arrow
						
				.inline-komm			
					.kommentar
						span.light-text Hans den glade 
						span.right.light-text 22. dec 2013
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus.
							br
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
							p.komm-komm
								a.komm-arrow
								
						.inline-komm			
							.kommentar
								span.light-text Hans den glade 
								span.right.light-text 22. dec 2013
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus.
									br
									a(href="") Tilføj kommentar
									span.light-text  - 
									a(href="") Cyberlike
									span.light-text  - 2 synes godt om
			.kommentar
				span.light-text Hans den glade 
				span.right.light-text 22. dec 2013
				p Lorem ipsum dolor sit amet.
					br
					a(href="") Tilføj kommentar
					span.light-text  - 
					a(href="") Cyberlike
					span.light-text  - 2 synes godt om
	.kommentar
		span.light-text Hans den glade 
		span.right.light-text 22. dec 2013
		p Lorem ipsum dolor sit amet.
			br 
			a(href="") Tilføj kommentar
			span.light-text  - 
			a(href="") Cyberlike
			span.light-text  - 2 synes godt om
	.kommentar
		span.light-text Hans den glade 
		span.right.light-text 22. dec 2013
		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
			|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
			|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
			|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
			|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
			|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
			br
			a(href="") Tilføj kommentar
			span.light-text  - 
			a(href="") Cyberlike
			span.light-text  - 2 synes godt om
	.kommentar
		span.light-text Hans den glade 
		span.right.light-text 22. dec 2013
		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
			|sit amet dictum felis suscipit eget.
			br 
			a(href="") Tilføj kommentar
			span.light-text  - 
			a(href="") Cyberlike
			span.light-text  - 2 synes godt om

section#komm-form
	h2 Tilføj kommentar
	form
		input(type="text" placeholder=" Navn")
		textarea(placeholder=" Kommentar")
		input.btn(type="submit" value="Gem")