section.sidebar
	h2 Sidebar title
	p.
		This is sidebar text - 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
		imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
		Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
		vehicula tortor ac, porta ipsum.