#content-wrapper
	.breadcrumb
		a(href="index") Blogs > Unge blogs > Livet er lort!

	article
		p.light-text Emil den vilde - Dreng, 16 år 
			time 20. okt 2013

		h1 Livet er lort!
		img(src="img/kitten.jpg" alt="kitten" width="100%")
		p.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
		img.left.inline(src="img/kitten-inline.jpg" alt="kitten2" width="200")
		p.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
		p.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
		img.right.inline(src="img/kitten-inline2.jpg" alt="kitten2" width="200")
		p.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
		p.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
			Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
			convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
			fringilla magna.

	!= partial("_comments")