!!! 5
html
	head
		title Unge blogs
	body
		#wrapper
			hr
			nav
				a(href="index") Blogs > Unge blogs > Livet er lort!
			article
				p.author Emil den vilde
				p.author-info Dreng, 16 år
					time 20. okt 2013

				h1 Livet er lort!
				img(src="img/kitten.jpg" alt="kitten" width="100%")
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
				img.left.inline(src="img/kitten-inline.jpg" alt="kitten2" width="200")
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
				img.right.inline(src="img/kitten-inline2.jpg" alt="kitten2" width="200")
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.

			section#interaction
				a.btn.left(href="#komm") + Tilføj kommentar
				a.btn.right(href="") Like
				span.light-text.right 4 synes godt om
			hr

			section#kommentarer
				.kommentar
						p
							span.komm-author Hans den glade 
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
							|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
							|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
							|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
							br
							span.light-text 22. dec 2013 - 
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
				.kommentar
						p
							span.komm-author Hans den glade 
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
							|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
							|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
							|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
							br
							span.light-text 22. dec 2013 - 
							a(href="") Se kommentarer (3)
							span.light-text  - 
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
				.kommentar
						p
							span.komm-author Hans den glade 
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
							|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
							|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
							|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
							br
							span.light-text 22. dec 2013 - 
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
				.kommentar
						p
							span.komm-author Hans den glade 
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
							|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
							|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
							|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
							br
							span.light-text 22. dec 2013 - 
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
				.kommentar
						p
							span.komm-author Hans den glade 
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
							|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
							|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
							|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
							br
							span.light-text 22. dec 2013 - 
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
				.kommentar
						p
							span.komm-author Hans den glade 
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
							|imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
							|Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
							|vehicula tortor ac, porta ipsum. Maecenas venenatis diam felis, sit amet dictum felis suscipit eget.
							br
							span.light-text 22. dec 2013 - 
							a(href="") Tilføj kommentar
							span.light-text  - 
							a(href="") Cyberlike
							span.light-text  - 2 synes godt om
			hr		
			section#komm-form
				h2 Tilføj kommentar
				form
					input(type="text" placeholder="navn")
					textarea(placeholder="kommentar")
					input.btn(type="submit" value="Gem")

			hr