#content-wrapper
	.breadcrumb
		a(href="index") Blogs

	#icon
	h1 Unge blogs
	p.overview-summary.
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
		Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
		Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
		convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
	br
	a.btn.overview-btn(href="blog_overview") Se Unge Blogs
	br
	br
	br
	#icon
	h1.sec_header Voksne blogs
	p.overview-summary.
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
		Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
		Vestibulum ullamcorper ipsum vel viverra facilisis.
	br
	a.btn.overview-btn(href="blog_overview") Se Voksne Blogs