!!! 5
html
	head
		title Cyberhus
		script(src="js/jquery.min.js")
	body
		header
			nav
				a(href="index").logo
				#menu
					ul
						li
							a(href="secret") Chat
						li
							a(href="brevkasse") Brevkasse
						li
							a(href="livsfortaellinger_overview") Debat
						li
							a(href="fortaellinger") Fortællinger
						li
							a(href="galleri") Kunstgalleri
						li
							a(href="blog") Blogs
		#wrapper
			section#sidebar
				h2 Sidebar title
				p.
					This is sidebar text - 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
					imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
					Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
					vehicula tortor ac, porta ipsum. 
			#content-wrapper
				.breadcrumb
					a(href="index") Brevkasse

				#icon
				h1 Brevkasse
				p.overview-summary.brevkasse-summary.
					Her sidder der voksne som gerne vil prøve at hjælpe.
					Find den brevkasse der passer bedst til dit spørgsmål og prøv og se om der allerede er et svar du kan bruge.
					Hvis ikke, kan du stille dit eget spørgsmål.
					Vi prøver at besvare dit spørgsmål så hurtigt vi kan, men der kan gå op til 10 dage.

				section.brevkasse-topics
					.topic
						h2 Når det gør ondt inderst inde

						p.
							Spørg Isabella, Katrine, Tanne, Marianne, Camilla, Ditte, Helle, Janni, Anne M, Lærke, Louise, Signe,
							Anne H, Mette, Line og Matilde om det der gør ondt inderst inde... Her i brevkassen har vi en baggrund
							som pædagog, socialrådgiver eller psykolog.
						a.btn(href="letter") Gå til brevkasse

					.topic
						h2 Klar, parat, teenageliv

						p.
							Spørg Janni, Marianne, Mette, Camilla, Lise, Louise, Anne H, Matilde, Rikke, Anne M, Lærke, Julie, Ditte,
							Marie og Line om alt fra veninder/venner, kærester, følelser og tanker til mode, make-up og gossip. Her i
							brevkassen har vi forskellige baggrunde og er alle voksne. 
						a.btn(href="letter") Gå til brevkasse

					.topic
						h2 Hvad tror jeg på, og hvor hører jeg til?
						p.
							Er jeg troende eller fundamentalist? Er jeg dansker eller verdensborger? Er jeg demokrat eller anarkist?
							Er jeg gangster eller bare lidt vild? … eller måske er jeg stadig søgende. Spørg Niels-Christian og Marianne
							om kultur, identitet, religion og politik. Kan du ikke finde ud af om du tror for lidt eller for meget?
							Er det svært at finde balancen mellem dit daglige liv og den kultur, du er opdraget i? Bliver du frustreret,
							når andre ikke forstår det, du tror på?
						a.btn(href="letter") Gå til brevkasse

					.topic
						h2 KRAM - kost, rygning, alkohol & motion
						p.
							I KRAM-brevkassen kan du spørge om Kost, Rygning, Alkohol & Motion. Susanne, Anne og Birgit arbejder til
							dagligt hos Folkesundhed København med at rådgive omkring Rygning, Alkohol & Motion. Line er uddannet kost
							og ernærings vejleder. Vi svarer ikke på spørgsmål som vi vurderer handler om spiseforstyrrelser. spørgsmål
							omkring spiseforstyrrelser skal i stedet stilles i brevkassen: Når det gør ondt inderst inde.
						a.btn(href="letter") Gå til brevkasse

					.topic
						h2 Tandzonen
						p.
							Spørg Niels om alle de ting der har noget at gøre med din mund og tænder. Niels arbejder som tandlæge til dagligt.
						a.btn(href="letter") Gå til brevkasse

					.topic
						h2 Musikliv og talentudvikling
						p.
							Spørg Niels G fra musikværkstedet, hvis du eller dit band har spørgsmål omkring musik, kompositioner,
							sceneshow og image.
						a.btn(href="letter") Gå til brevkasse

	footer
		img(src="img/footer_images.png" alt="by" width="100%")

		script(src="js/expand.js")