#content-wrapper
	.breadcrumb
		a(href="index") Brevkasse > Teenageliv

	#icon
	h1 Teenageliv
	p.overview-summary.
		Spørg Janni, Marianne, Mette, Camilla, Lise, Louise, Anne H, Matilde, Rikke, Anne M, Lærke, Julie, Ditte,
		Marie og Line om alt fra visibility: eninder og venner, kærester, følelser og tanker til mode, make-up og gossip. Her i
		brevkassen har vi forskellige baggrunde og er alle voksne. 
	br
	a.btn.overview-btn(href="") + Opret
	br
	br
		
	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>
	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>
	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>

	article.post
		.arrow
		h3 Livet er lort!
		p.author-info Dreng, 16 år
		span.post-komm 6
		span.post-date 20. okt 2013
		.toggle-text
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
			a(href="brevkasse") Læs hele Brevkasse >>