.wrapper 
	!= partial("_sidebar")
	#content-wrapper
		.breadcrumb
			a(href="index") Debaten > Teenageliv
		#icon
		h1 Teenageliv
		p.overview-summary Del dine oplevelser og meninger om teenage-livets op- og nedture.
		br
		a.btn.overview-btn(href="") + Opret
		br
		br

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>
		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>
		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>

		article.post
			.arrow
			h3 Livet er lort!
			p.author-info Dreng, 16 år
			span.post-komm 6
			span.post-date 20. okt 2013
			.toggle-text
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				a(href="debat") Læs hele Debat >>