.wrapper 
	!= partial("_sidebar")
	#content-wrapper
		.breadcrumb
			a(href="index") Fortællinger

		#icon
		h1 Livsfortællinger
		p.overview-summary.
			Her kan du skrive din historie og læse andres. Glæde, vrede, angst, tristhed, håb - alle følelser er velkomne her. Det handler om at få sat ord på tankerne, og lade andre kigge med.
		br
		a.btn.overview-btn(href="livsfortaellinger_overview") Se Livsfortællinger

		br
		br
		br

		#icon
		h1.sec_header Kropshemmeligheder
		p.overview-summary.
			Skriv din kropshemmelighed her - og se den blive forvandlet til skønlitteratur af to professionelle forfattere.
			Måske ligner din navle statsministeren. Eller også har du som pige hår på brystvorterne. Eller måske kan du ikke tisse,
			før du har sunget ABC'en for dig selv. Eller har du en stomi-pose under trøje uden din venner ved det?
			Vi går alle sammen og gemmer på hemmeligheder om vores kroppe.
		br
		a.btn.overview-btn(href="kropshemmeligheder") Se Kropshemmeligheder	