.chatBar
	p This is the chatbar :D
.coverPicture
	img(src="img/slide2.jpg")
.wrapper 
	.card-wrapper
		.kategorier
			form
				.check
					input(id='agreement', type='checkbox')
					| Blog
				.check
					input(id='agreement', type='checkbox')
					| Brevkasse
				.check
					input(id='agreement', type='checkbox')
					| Debat
				.check
					input(id='agreement', type='checkbox')
					| Kropshemmelighed
				.check
					input(id='agreement', type='checkbox')
					| Livsfortællinger
		.card		
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-pen
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-note
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-pen
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-megaphone
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-pen
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-megaphone
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-mail
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-note
		.card
			p.date 12/01/13
			h2 Title
			p.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit ...
			.button
				a.btn(href="") Læs mere
			.icon
				span.icon-pen