!!! 5
html
	head
		title Cyberhus
		script(src="js/jquery.min.js")
	body
		header
			.logo
				a(href="index")
					img(src="img/logo.png")
			nav
				ul
					li
						a(href="") Chat
					li
						a(href="letter") Brevkasse
					li
						a(href="livsfortaellinger") Debat
					li
						a(href="livsfortaellinger_overview") Fortællinger
					li
						a(href="galleri") Kunstgalleri
					li
						a(href="blog") Blogs
		#wrapper
			h1 Single views
			br
			a(href="letter") Brevkasse
			br
			br
			a(href="livsfortaellinger_overview") Livsfortællinger
			br
			br
			a(href="galleri") Galleri
			br
			br
			a(href="blog") Blog
	
		footer
				img(src="img/footer_images.png" alt="by" width="100%")