!!! 5
html
	head
		title Cyberhus
		script(src="js/jquery.min.js")
	body
		header
			nav
				a(href="index").logo
				.toggle_menu
					a(href="#") &#9776
				#menu
					ul
						li
							a(href="secret") Chat
						li
							a(href="brevkasse") Brevkasse
						li
							a(href="livsfortaellinger_overview") Debat
						li
							a(href="fortaellinger") Fortællinger
						li
							a(href="galleri") Kunstgalleri
						li
							a(href="blog") Blogs
		#wrapper
			h1 Cyberhus
			br
			a(href="letter") Brevkasse
			br
			br
			a(href="livsfortaellinger_overview") Livsfortællinger
			br
			br
			a(href="galleri") Galleri
			br
			br
			a(href="blog") Blog
	
		footer
				img(src="img/footer_images.png" alt="by" width="100%")