!!! 5
html
	head
		title Cyberhus
		script(src="js/jquery.min.js")
	body
		header
			nav
				a(href="index").logo
				#menu
					ul
						li
							a(href="secret") Chat
						li
							a(href="brevkasse") Brevkasse
						li
							a(href="livsfortaellinger_overview") Debat
						li
							a(href="fortaellinger") Fortællinger
						li
							a(href="galleri") Kunstgalleri
						li
							a(href="blog") Blogs
		#wrapper
			section#sidebar
				h2 Sidebar title
				p.
					This is sidebar text - 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
					imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
					Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
					vehicula tortor ac, porta ipsum. 
			#content-wrapper
				.breadcrumb
					a(href="index") Brevkasse > Når det gør ondt inderst inde > Min veninder skifter...

				article
					h3 Spørgsmål
					hr
					p.light-text Emil den vilde - Dreng, 16 år 
						time 20. okt 2013

					h1 Min veninder skifter mig ud gang på gang!
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
						fringilla magna.
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
						fringilla magna.

					h3 Svar
					hr
	
					p.author Kevin den seje
						time 20. okt 2013

					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
						fringilla magna.
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
						fringilla magna.
			
		footer
				img(src="img/footer_images.png" alt="by" width="100%")