!!! 5
html
	head
		title Livsfortællinger
		script(src="js/jquery.min.js")
	body
		#wrapper
			hr
			nav
				a(href="") Fortællinger > Livsfortællinger

			#icon

			h1 Livsfortællinger
			p.overview-summary.
				Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
				convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
				Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
				fringilla magna.
			a.btn#overview-opret(href="") + Opret
			br
			br
			hr

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>
			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>
			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			article.post
				.arrow
				h2 Livet er lort!
				p.author-info Dreng, 16 år
				span.post-komm 6
				span.post-date 20. okt 2013
				.toggle-text
					p.
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
						Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
						convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					a(href="livsfortaellinger") Læs hele Livsfortællingen >>

			hr
		script(src="js/expand.js")