!!! 5
html
	head
		title Cyberhus
		script(src="js/jquery.min.js")
	body
		header
			nav
				a(href="index").logo
				#menu
					ul
						li
							a(href="secret") Chat
						li
							a(href="brevkasse") Brevkasse
						li
							a(href="livsfortaellinger_overview") Debat
						li
							a(href="fortaellinger") Fortællinger
						li
							a(href="galleri") Kunstgalleri
						li
							a(href="blog") Blogs
		#wrapper
			section#sidebar
				h2 Sidebar title
				p.
					This is sidebar text - 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisi metus. Fusce
					imperdiet non magna sit amet bibendum. Cras id convallis massa. Sed sed aliquam nibh, eu fringilla lectus.
					Fusce rhoncus magna sit amet velit venenatis, sit amet tempus purus luctus. Sed a libero dapibus,
					vehicula tortor ac, porta ipsum. 
			#content-wrapper
				.breadcrumb
					a(href="index") Fortællinger > Livsfortællinger

				#icon
				h1 Livsfortællinger
				p.overview-summary.
					Her kan du skrive din historie og læse andres. Glæde, vrede, angst, tristhed, håb - alle følelser er velkomne her.
					Det handler om at få sat ord på tankerne, og lade andre kigge med.
				br
				a.btn.overview-btn(href="") + Opret
				br
				br

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>
				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>
				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h3 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

		footer
			img(src="img/footer_images.png" alt="by" width="100%")

		script(src="js/expand.js")