!!! 5
html
	head
		title Cyberhus
		script(src="js/jquery.min.js")
	body
		header
			.logo
				a(href="index")
					img(src="img/logo.png")
			nav
				ul
					li
						a(href="") Chat
					li
						a(href="letter") Brevkasse
					li
						a(href="livsfortaellinger") Debat
					li
						a(href="livsfortaellinger_overview") Fortællinger
					li
						a(href="galleri") Kunstgalleri
					li
						a(href="blog") Blogs			
		#wrapper
			section#sidebar
			#content-wrapper
				.breadcrumb
					a(href="index") Fortællinger > Livsfortællinger

				#icon
				h1 Livsfortællinger
				p.overview-summary.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
					convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
					Donec ultricies, tortor ac porta tempus, tortor quam aliquet velit, et porttitor nisl dolor
					fringilla magna.
				br
				a.btn#overview-opret(href="") + Opret
				br
				br

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>
				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>
				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

				article.post
					.arrow
					h2 Livet er lort!
					p.author-info Dreng, 16 år
					span.post-komm 6
					span.post-date 20. okt 2013
					.toggle-text
						p.
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
							Vestibulum ullamcorper ipsum vel viverra facilisis. Integer molestie mauris sed enim dignissim,
							convallis posuere leo blandit. Phasellus id sem tincidunt, ornare mauris at, hendrerit justo.
						a(href="livsfortaellinger") Læs hele Livsfortællingen >>

		footer
			img(src="img/footer_images.png" alt="by" width="100%")

		script(src="js/expand.js")