// @font-face 
//   font-family: 'myriad pro'
//   src: url(fonts/MyriadPro-Regular.otf)


// @font-face 
//   font-family: 'lucida grande'
//   src: url(fonts/LucidaGrande.ttc)

// @font-face 
//   font-family: 'vegur'
//   src: url(fonts/Vegur-Regular.otf)

// // @font-face 
// //   font-family: 'Avenir Next'
// //   src: url(fonts/Avenir Next.ttc)

@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700)

@import url("reset.css")

text = #222
bg = #ffffff
header_bg = #cab2a1
nav_hover = #b78362
links = #005680
post_info = #888
btn_text = #ffffff
btn_bg = #f1975c
btn_hover = darken(btn_bg, 20%)
post_bg = #eeeeee
footer = #2B2526

body
  color text
  font-size 14px
  font-family 'Nunito', sans-serif;
  font-weight 100
  line-height 1.6em
  background bg

h1
  font-size 24px
  margin 20px 0 10px 0
  font-weight 500
  line-height 1.3em

h2
  margin 20px 0 10px 0

a
  color links
  text-decoration none

  &:hover
    cursor pointer
    text-decoration underline

header
  margin auto
  background header_bg
  border-bottom 2px solid nav_hover
  .logo
    margin-top 10px
    width 164px
    height 50px
    background url("img/logo.png")
    background-size cover
    display inline-block
    img
      max-width 200px

  nav
    width 960px
    margin auto
  #menu
    float right
    ul
      li
        margin-top 22px
        float left
        &:first-child
          border 0
        a
          color #4a4848
          padding 24px 20px
          //border-left 1px solid lighten(nav_hover, 25%)
          &:hover
            background nav_hover
            text-decoration none

#wrapper
  max-width 960px
  margin auto

#content-wrapper
  max-width 610px
  padding-top 20px

#sidebar
  width 280px
  height 800px
  float right
  margin-top 30px
  background header_bg

.overview-summary
  margin-left 75px

#icon
  width 65px
  height 65px
  background url("img/icon.png")
  background-size 65px 65px
  float left
  margin 20px 10px 0 0 

.light-text
  color post_info

.inline
  margin-right: 10px

.btn
  padding 5px 10px
  color btn_text
  background btn_bg
  &:hover 
    background btn_hover
    text-decoration none

.author
  margin-top 10px
  
.author-info
  margin-top 1px
  color post_info

#overview-opret
  margin-left 75px

time
  float right
  color post_info
  
article
  h2
    font-weight 400
  p
    margin-bottom 1em

#interaction
  margin 20px 0 80px 0
  span
    margin 5px 10px 0 0

.left
  float left

.right
  float right

.kommentar
  padding 8px 0
  margin 8px 0

.inline-komm
  margin-left 10px
  .kommentar
    border-left 1px solid #cdcdcd
    padding 8px 0 8px 10px

.komm-author
  font-weight 500

.komm-komm
  margin-top 5px

.komm-arrow
  width 10px
  height 6px
  background url("img/arrow_komm.png")
  background-size cover
  display inline-block
  margin 0 6px

.se-komm
  cursor pointer
  color links
  &:hover
    text-decoration underline

#galleri-img
  text-align center

img
  margin auto
  margin-top 10px

form
  *
    margin-bottom 10px

  input
    width 120px
    height 30px
    background post_bg
    padding-left 3px
    border none


  textarea
    width 100%
    max-width 350px
    height 120px
    resize none
    background post_bg
    display block
    border none

article.post
  padding 5px 10px
  margin-top 10px
  background post_bg

  p
    margin 0

  h2
    margin 0 0 0 20px
    font-weight normal
    margin-left 65px
    
  .author-info
    margin-left 65px
    color post_info

  .arrow
    width 10px
    height 10px
    float left
    margin 18px 0 0 20px
    color black
    font-weight bold
    background url("img/arrow.png") no-repeat
    background-size contain
    &:hover
      text-decoration none
      cursor pointer

  .rotate
    -webkit-transform rotate(90deg)
    -moz-transform rotate(90deg)
    -ms-transform rotate(90deg)
    -o-transform rotate(90deg)
    transform rotate(90deg)

  .post-komm
    float right
    margin -37px 35% 0 0
    padding 3px 12px
    background url("img/speech.png")
    background-repeat no-repeat
    background-position-y 3px 
    background-position-x 1px 

  .post-date
    float right
    margin -34px 5% 0 0

  .toggle-text
    display none
    margin 10px 10% 0 65px

    p
      margin-bottom 5px
    a
      margin-bottom 5px

footer
    width 100%
    height 200px
    margin-top 100px
    background footer
    img 
      margin-top -180px
