// @font-face 
//   font-family: 'myriad pro'
//   src: url(fonts/MyriadPro-Regular.otf)


// @font-face 
//   font-family: 'lucida grande'
//   src: url(fonts/LucidaGrande.ttc)

// @font-face 
//   font-family: 'vegur'
//   src: url(fonts/Vegur-Regular.otf)

// // @font-face 
// //   font-family: 'Avenir Next'
// //   src: url(fonts/Avenir Next.ttc)

@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700)

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900)

@import url("reset.css")

text = #222
bg = url("img/paddern-bg.png")
header_bg = url("img/pattern.png")
nav_hover = #b78362
links = #1683B8
post_info = #888
btn_text = #ffffff
btn_bg = #f1975c
btn_hover = darken(btn_bg, 10%)
post_bg = #eeeeee
footer = #2B2526

body
  color text
  font-size 16px
  font-family 'Nunito', sans-serif;
  font-weight 100
  line-height 1.6em
  background bg

h1
  font-size 22px
  margin 10px 0 12px 0
  font-weight 300
  line-height 1.3em
  color #a98168

h2
  font-size 18px
  margin 20px 0 10px 0 

h3
  font-size 16px

.post
  h3  
    margin-left 65px

a
  color links
  text-decoration none

  &:hover
    cursor pointer
    text-decoration underline

header
  width 100%
  background header_bg


  .logo
    margin-top 10px
    width 172px
    height 41px
    background url("img/logo_no_text.png")
    background-size cover
    display inline-block
    img
      max-width 300px

  nav
    max-width 960px
    margin auto
    
    @media screen and (max-width: 960px)
      padding-right 20px

  .toggle_menu
    display none
    margin-top 20px
    margin-right 20px
    @media screen and (max-width: 825px)
      display inline-block
      float right
      a
        color #fff
        font-size 22px
        text-decoration none
    
  #menu
    float right

    @media screen and (max-width: 825px)
      display none

    ul
      li
        margin-top 18px
        float left
        border-left 1px solid #a88067
        &:first-child
          border 0
        a
          color text
          font-size 17px
          padding 15px 20px
          
          &:hover
            border-bottom 2px solid #fffbf8
            color #fffbf8
            text-shadow 1px 1px #888
            text-decoration none
            
#wrapper
  max-width 960px
  margin auto
  padding 5px 20px

#content-wrapper
  max-width 610px
  @media screen and (max-width: 960px)
    margin 0 auto

.breadcrumb
  font-size 14px
  margin-bottom 35px

#sidebar
  width 240px
  height 460px
  padding 20px
  float right
  margin-top 62px
  background #eee
  @media screen and (max-width: 960px)
    display none

.overview-summary
  margin-left 75px

.brevkasse-summary
  padding-bottom 20px
  border-bottom 1px solid post_info

#icon
  width 65px
  height 65px
  background url("img/icon.png")
  background-size 65px 65px
  float left
  margin 20px 10px 0 0 

.light-text
  color post_info

.inline
  margin-right: 10px

.btn
  padding 8px 10px
  color btn_text
  background btn_bg
  border-radius 3px

  &:hover 
    background btn_hover
    text-decoration none
  
.overview-btn
  margin-left 75px

time
  float right
  color post_info
  
article
  p
    margin-bottom 1em

#interaction
  margin 20px 0 80px 0
  span
    margin 5px 10px 0 0

.left
  float left

.right
  float right

.kommentar
  padding 8px 0
  margin 8px 0

.inline-komm
  margin-left 10px
  .kommentar
    border-left 1px solid #cdcdcd
    padding 8px 0 8px 10px


.komm-komm
  margin-top 5px

// .komm-arrow
//   width 10px
//   height 6px
//   background url("img/arrow_komm.png")
//   background-size cover
//   display inline-block
//   margin 0 6px

.komm-arrow
  display inline-block
  margin-left 5px
  
  &:after
    /*Add another block-level blank space*/
    content ''
    display block
 
    /*Make it a small rectangle so the border will create an L-shape*/
    width 8px
    height 8px
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border solid #888
    border-width 0 2px 2px 0

    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -ms-transform rotate(45deg)
    -o-transform rotate(45deg)
    transform rotate(45deg)

#galleri-img
  text-align center

img
  margin auto
  margin-top 10px

form
  *
    margin-bottom 10px

  input
    width 120px
    height 30px
    background post_bg
    padding-left 3px
    border none


  textarea
    width 100%
    max-width 350px
    height 120px
    resize none
    background post_bg
    display block
    border none

article.post
  padding 5px 10px
  margin-top 10px
  background post_bg

  p
    margin 0

  h2
    margin 0 0 0 20px
    margin-left 65px
    
  .author-info
    margin-left 65px
    color post_info

  .arrow
    width 10px
    height 10px
    float left
    margin 18px 0 0 20px
    color black
    font-weight bold
    background url("img/arrow.png") no-repeat
    background-size contain
    &:hover
      text-decoration none
      cursor pointer

  .rotate
    -webkit-transform rotate(90deg)
    -moz-transform rotate(90deg)
    -ms-transform rotate(90deg)
    -o-transform rotate(90deg)
    transform rotate(90deg)

  .post-komm
    float right
    margin -37px 35% 0 0
    padding 3px 12px
    background url("img/speech.png")
    background-repeat no-repeat
    background-position-y 3px 
    background-position-x 1px 

  .post-date
    float right
    margin -34px 5% 0 0

  .toggle-text
    display none
    margin 10px 10% 0 65px

    p
      margin-bottom 5px
    a
      margin-bottom 5px

.brevkasse-topics
  .topic
    width 257px
    display inline-block
    margin-bottom 60px
    vertical-align top
    &:nth-child(odd)
      margin 0 21px 0 75px

    p
      margin-bottom 1em

footer
    width 100%
    height 200px
    margin-top 100px
    background footer
    img 
      margin-top -180px
