blue = #3b5998

body
  color #232323
  font-size 12px
  font-family "Helvetica" sans-serif
  line-height 1.4em
h1
  font-size 20px
  margin 20px 0 10px 0
h2
  font-size 16px
  margin 20px 0 10px 0
a
  color blue
  text-decoration none
  &:hover
    text-decoration underline
.light-text
  color #888888
#wrapper
  max-width  980px
  margin  auto
  padding  10px
.inline
  margin-right: 10px
.btn
  padding 5px 10px
  color #ffffff
  background blue
.author
  font-size 14px
  margin-top 10px
.author-info
  margin-top -10px
time
  font-size 12px
  float right
#interaction
  margin 20px 0 80px 0
  span
    margin 5px 10px 0 0
.left
  float left
.right
  float right
.kommentar
  margin-bottom 20px
.komm-author
  color blue
  font-weight bolder
#galleri-img
  text-align center
img
  margin auto
  margin-top 10px
form
  *
    border-radius 3px
    margin-bottom 10px
  input
    width 120px
    height 30px
    border 1px solid #aaaaaa
    padding-left 3px
  textarea
    width 350px
    height 120px
    resize none
    border 1px solid #aaaaaa
    display block