!!! 5
html
	head
		title Cyberhus
		script(src="js/jquery.min.js")
	body
		header
			nav
				a(href="index").logo
				#menu
					ul
						li
							a(href="secret") Chat
						li
							a(href="brevkasse") Brevkasse
						li
							a(href="livsfortaellinger_overview") Debat
						li
							a(href="fortaellinger") Fortællinger
						li
							a(href="galleri") Kunstgalleri
						li
							a(href="blog") Blogs
		#wrapper
			h1 This is h1
			h2 This is h2
			h3 This is h3
			br
			p.
				This is a paragraph -  class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis.class aptent taciti sociosqu ad litora torquent per conubia nostra,
				per inceptos himenaeos. Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
				Vestibulum ullamcorper ipsum vel viverra facilisis.
			br
			p.light-text This is light text
			br
			a(href="") This is a link
			br
			br
			a.btn(href"") Button