.wrapper 
	.breadcrumb
		a(href="index") Brevkasse

	#icon
	h1 Brevkasse
	p.overview-summary.brevkasse-summary.
		Her sidder der voksne som gerne vil prøve at hjælpe.
		Find den brevkasse der passer bedst til dit spørgsmål og prøv og se om der allerede er et svar du kan bruge.
		Hvis ikke, kan du stille dit eget spørgsmål.
		Vi prøver at besvare dit spørgsmål så hurtigt vi kan, men der kan gå op til 10 dage.

	section.brevkasse-topics
		.card		
			h2 Når det gør ondt inderst inde
			p.
				Her i brevkassen har vi en baggrund
				som pædagog, socialrådgiver eller psykolog.

		.card		
			h2 Klar, parat, teenageliv
			p.
				Spørg om alt fra veninder/venner, kærester, følelser og tanker til mode, make-up og gossip. Her i
				brevkassen har vi forskellige baggrunde og er alle voksne. 

		.card		
			h2 KRAM 
			p.
				I KRAM-brevkassen kan du spørge om Kost, Rygning, Alkohol & Motion. Spørgsmål
				omkring spiseforstyrrelser skal i stedet stilles i brevkassen: Når det gør ondt inderst inde.

		.card		
			h2 Hvad tror jeg på?
			p.
				Spørg om kultur, identitet, religion og politik.

		.card		
			h2 Tandzonen
			p.
				Spørg om alle de ting der har noget at gøre med din mund og tænder. Niels arbejder som tandlæge til dagligt.

		.card		
			h2 Musikliv og talentudvikling
			p.
				Spørg hvis du eller dit band har spørgsmål omkring musik, kompositioner,
				sceneshow og image.