.wrapper 
	!= partial("_sidebar")
	#content-wrapper
		.breadcrumb
			a(href="index") Chat
		h1 Chat
		h2 1-1 Chat
		p.
			Her kan du chatte en til en med en voksen rådgiver. Vi sidder en masse frivillige voksne og vi vil gerne lytte
			og hjælpe dig med at sætte ord på de tanker og følelser, du går med lige nu. Med vores ord kan vi forsøge at
			støtte og rådgive dig.
			Har du brug for mere hjælp, vil vi gerne hjælpe dig med at finde ud af hvem, hvor og hvordan du kan finde den.
			Det kan både være andre steder på nettet eller et fysisk sted i nærheden af, hvor du bor.
		p
			table(border="0" cellspacing="1" cellpadding="1" align="center")
				tbody
					tr
						td
						td Eftermiddag
						td Aften
					tr
						td Mandag
						td 13-16
						td
					tr
						td Tirsdag
						td 13-16 
						td 18-21
					tr
						td Onsdag
						td 13-16 
						td 18-21
					tr
						td Torsdag
						td 13-16 
						td 18-21
					tr
						td Fredag
						td 13-16 
						td 
		p.
			Hvis du vil benytte 1-1 Chatten skal du trykke på den lille widget i højre side af skærmen.
			OBS: 1-1-chatten virker i øjeblikket ikke på mobil. Brug derfor din pc eller bærbare hvis du vil chatte.

		hr

		h2 Gruppechat	
		p.
			I gruppechatten kan du mødes og chatte med andre unge der bruger Cyberhus, om hvad som helst mellem himmel og jord. 
		p.
			En voksen rådgiver følger med for at sikre at gruppechatten er et trygt sted for dem der ønsker at deltage, ligesom
			moderatorerne gør i debatforum. Rådgiveren vil kun blande sig hvis spillereglerne ikke overholdes.
		p.
			Den voksne rådgiver har altid mulighed for at slette kommentarer og kicke eller banne brugere hvis de ikke
			overholder spillereglerne. 
		p.
			Gruppechatten har åbent hver tirsdag & torsdag kl. 18-21 
		p.
			Gruppechatten har altid lukket i folkeskolernes ferier: Vinterferie, Påskeferie, Sommerferie, Efterårsferie & Juleferie
		a(href="") Gå til gruppechatten

		hr

		h2 KRAM-chat
		p.
			I KRAM-chatten kan du chatte med andre unge om sundhed. 
		p.
			KRAM er en forkortelse for Kost, Rygning, Alkohol & Motion, og netop de fire temaer vil ofte være dem vi har fokus på i
			chatten, men andre emner som prævention, plastikkirurgi og kroppens udvikling vil du også kunne finde ind i mellem. 
		p.
			En voksen rådgiver følger med og deltager ind i mellem også i snakken. Det vil sige at man både kan chatte med andre unge,
			men også stille rådgiveren et konkret spørgsmål om sundhed, hvis det er nødvendigt. 
		p.
			Den voksne rådgiver har altid mulighed for at slette kommentarer og kicke eller banne brugere hvis de ikke
			overholder spillereglerne.
		p.
			KRAM-Chatten har åbent hver onsdag kl. 18-21.
		p.
			Nedenfor kan du se hvilket tema der er på de kommende chats.
		p
			table
				tbody
					tr
						td Onsdag
						td d. 12 Marts
						td kl. 18-21
						td Puberteten 
					tr
						td Onsdag
						td d. 19 Marts 
						td kl. 18-21 
						td Kost
					tr
						td Onsdag
						td d. 26 Marts 
						td kl. 18-21
						td Kronisk sygdom
		a(href="") Gå til KRAM-Chatten