.wrapper 
	.breadcrumb
		a(href="index") Debat

	#icon
	h1 Debat
	p.overview-summary.topic-summary.
		Her kan du dele dine erfaringer, sige din mening og give et råd med på vejen til andre børn og unge.
		Se retningslinierne for Go og sikker debat. Debatten i Cyberhus er et frirum for børn og unge 9-23 år.
		Voksne over 23 år bedes finde et andet forum at skrive i. 

	section.topics
		.card-wrapper
			.card		
				h2 Når det gør ondt inderst inde
				p.
					Her i brevkassen har vi en baggrund
					som pædagog, socialrådgiver eller psykolog.
				a(href="debat_overview").hover-box
					p Læs mere

		.card-wrapper
			.card		
				h2 Klar, parat, teenageliv
				p.
					Spørg om alt fra veninder/venner, kærester, følelser og tanker til mode, make-up og gossip. Her i
					brevkassen har vi forskellige baggrunde og er alle voksne. 
				a(href="debat_overview").hover-box
					p Læs mere

		.card-wrapper
			.card		
				h2 KRAM 
				p.
					I KRAM-brevkassen kan du spørge om Kost, Rygning, Alkohol & Motion. Spørgsmål
					omkring spiseforstyrrelser skal i stedet stilles i brevkassen: Når det gør ondt inderst inde.
				a(href="debat_overview").hover-box
					p Læs mere

		.card-wrapper
			.card		
				h2 Hvad tror jeg på?
				p.
					Spørg om kultur, identitet, religion og politik.
				a(href="debat_overview").hover-box
					p Læs mere

		.card-wrapper
			.card		
				h2 Tandzonen
				p.
					Spørg om alle de ting der har noget at gøre med din mund og tænder. Niels arbejder som tandlæge til dagligt.
				a(href="debat_overview").hover-box
					p Læs mere

		.card-wrapper
			.card		
				h2 Musikliv og talentudvikling
				p.
					Spørg hvis du eller dit band har spørgsmål omkring musik, kompositioner,
					sceneshow og image.
				a(href="debat_overview").hover-box
					p Læs mere