.chatBar
	p This is the chatbar :D
.coverPicture
	img(src="img/slide2.jpg")
	.cover-info
		h1 Chatten er åben
		p.
			Her kan du chatte en til en med en voksen rådgiver. Vi sidder en masse frivillige voksne og vi vil gerne lytte
			og hjælpe dig med at sætte ord på de tanker og følelser, du går med lige nu. Med vores ord kan vi forsøge at
			støtte og rådgive dig.
			Har du brug for mere hjælp, vil vi gerne hjælpe dig med at finde ud af hvem, hvor og hvordan du kan finde den.
			Det kan både være andre steder på nettet eller et fysisk sted i nærheden af, hvor du bor.
		a.right(href="chat") Gå til chatten
.wrapper 
	.kategorier
		h1 Vælg kategorier
		form
			.check
				input(id='agreement', type='checkbox')
				| Alle
			.check
				input(id='agreement', type='checkbox')
				| Blog
			.check
				input(id='agreement', type='checkbox')
				| Brevkasse
			.check
				input(id='agreement', type='checkbox')
				| Debat
			.check
				input(id='agreement', type='checkbox')
				| Kropshemmelighed
			.check
				input(id='agreement', type='checkbox')
				| Livsfortællinger

	.card-content			
		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-pen
	
		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-note

		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-pen

		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-megaphone

		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-pen

		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-megaphone

		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-mail

		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-note

		.card-wrapper
			.card		
				p.light-text Brevkasse
					span.date 12. Jan 2013
				h2 Title
				p.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Aenean lobortis erat sit amet bibendum porta. Nunc congue orci vitae posuere vulputate.
					Vestibulum ...
				a.hover-box
					p Læs mere
			.icon
					span.icon-pen